<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/Style.css" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body>
    <h1>hlo <%= 2+2 %></h1>
    <script src="/javascripts/scripts.js"></script>
  </body>
</html>
